<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Booking</title>
    
    <style>
    body {
    font-family: 'Raleway', sans-serif, Arial, Helvetica;
    font-weight: 400;
	color: #fff;
	letter-spacing: 1px;
}
.container {
	background-color: #fafafa;
	margin: 40px;
	box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
	display: grid;
	grid-template-columns: 60% 40%;
}
.container-time {
	background-color: rgba(255, 255, 255, .95);
	padding: 100px;
	outline: 3px dashed #998100;
	outline-offset: -10px;
  /* 왼쪽에 점선 */
	text-align: center;
}
.heading {
    color:#998100;
	font-size: 35px;
	text-transform: uppercase;
}
.heading-days {
	color:#998100;
	font-size: 30px;
}
.heading-phone {
    color:#998100;
	font-size: 20px;
}
.container-form {
	padding: 180px 0;
	margin: 0 auto;
	color: #000;
}
form {
	display: grid;
	grid-row-gap: 20px;
}
form p {
	font-weight: 600;
}
.form-field {
	display: flex;
	justify-content: space-between;
}
input,select {
	pad: 10px 15px;
}
.btn {
	background-color: rgba(0, 0, 0, .95);
	color: #fff;
    text-align: center;
	padding: 10px 20px;
	border: none;
	font-size: 18px;
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
	cursor: pointer;
	transition: all .3s;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-ms-transition: all .3s;
	-o-transition: all .3s;
}
.btn:hover {
	transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-moz-transform: scale(1.03);
	-ms-transform: scale(1.03);
	-o-transform: scale(1.03);
	box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}
button{
			all: unset;
			background-color: #990000;
			color: white;
			padding: 15px 25px;
			border-radius: 6px;
			cursor: pointer;
		}
.modal{
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 100%;
		display: flex;
		justify-content: center;    
		align-items : center;
		}
.md_overlay {
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%; height: 100%;
		position: absolute;
		}
.md_content {
		width: 20%;
		position: relative;
		padding: 50px 100px;
		background-color: white;
		text-align: center;
		border-radius: 6px;
		box-shadow: 0 10px 20px rgba(0,0,0,0.20), 0 6px 6px rgba(0, 0, 0, 0.20);
		}
		h1 {
			margin:0; 
			padding: 5px;
		}
		.hidden {
			display: none;
		}
	.modal_text { padding: 16px; }
    </style>
	<link rel="stylesheet" href="css/style.css">
	<!-- Font -->
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,600,700,900" rel="stylesheet">
</head>
<body>

	<div class="container">

		<div class="container-time">
				<h2 class="heading">상점이름1</h2>
				<div class="swiper-wrapper" width="400" height="300" background-image> 
					<img src="img/content/mainimg.png" width="400" height="300" id="mainImg">
					<hr>
				</div>

				<div class="portfolio_div">
					<div class="portfolio_images">
								<div class="portfolio_images_visible">
										<img src="img/content/cut1.png" width="90" height="90" id="img1" onclick="imgToggle()">
										<img src="img/content/cut2.png" width="90" height="90" id="img2" onclick="imgToggle()">
										<img src="img/content/cut3.png" width="90" height="90" id="img3" onclick="imgToggle()">
								</div>					
							</div>
						</div>
						<hr>

				
				<h1 class="heading-days">Monday-Friday</h1>
				<p style="color:black;">7am - 11am (breakfast)</p>
				<p style="color:black;">11am - 10pm (lunch/dinner)</p>

				<h1 class="heading-days">Saturday and sunday</h1>
				<p style="color:black;">9am - 1am (breakfast)</p>
				<p style="color:black;">1am - 10pm (lunch/dinner)</p>

				<hr>

				<h2 class="heading-phone">Call Us: (123) 4545-6789</h2>
		</div>


		<div class="container-form">
				<form action="#">
					<h2 class="heading heading-yellow" align = "center">예약하기</h2>

					<div class="form-field">
						<p>이름</p>
						<input type="text" id="Name" placeholder="이름">
					</div>
					
					<div class="form-field">
						<p>이메일</p>
						<input type="email" id="Email" placeholder="이메일">
					</div>
					<div class="form-field">
						<p>반려견/묘 이름</p>
						<input type="email" id="Pet" placeholder="반려견/묘 이름">
					</div>

					<div class="form-field">
						<p>예약날짜</p>
						<input type="date" id="Date">
					</div>

					<div class="form-field">
						<p>예약시간</p>
						<input type="time" id="Time">
					</div>

					<div class="form-field">
						<p>미용종류</p>
						<select name="select" id="Style">
							<option value="1">브로콜리컷</option>
							<option value="2">얼굴컷</option>
							<option value="3">베이비컷</option>
							<option value="4">곰돌이컷</option>
						</select>
					</div>
					<div class="form-field">
						<p>가격</p>
						<input type="text" id="Total">
					</div>
					
                    <button type="button" id="submitBtn" class="btn")>결제하기</button>
                    <div class="modal hidden">
                        <div class="md_overlay"></div>
                        <div class="md_content">
                            <h1>예약하시겠습니까?</h1>
                            <div class="modal_text" ></div>
							<br><br>
							<button type="button" id ="noBtn" class = "button" >X</button>
							<button type="button" id ="yesBtn" class = "button" onclick="window.location.href='/payment'">O</button>
                        </div>
				</form>
		</div>
	</div>
	<script type="text/javascript">
var cnt = 1;
		function imgToggle(){
			var mainImg = document.getElementById("mainImg");
			var img1 = document.getElementById("img1");
			var img2 = document.getElementById("img2");
			var img3 = document.getElementById("img3");
			
			if(img1){
				img1.src="img/content/mainImg.png";
				mainImg.src="img/content/cut1.png";
			} else if(img2){
				img2.src="img/content/mainImg.png";
				img1.src="img/content/cut2.png";
			}
			cnt++;
		}
	
		//필요한 엘리먼트들을 선택한다.
		const openButton = document.getElementById("submitBtn");
		const modal = document.querySelector(".modal");
		const overlay = modal.querySelector(".md_overlay");
		const closeButton = modal.querySelector("button");
		
		//동작함수
		const openModal = () => {
			modal.classList.remove("hidden");
		}
		const closeModal = () => {
			modal.classList.add("hidden");
		}
		//클릭 이벤트
		openButton.addEventListener("click", openModal);
		closeButton.addEventListener("click", closeModal);
	
	</script>


	<!-- JQuery library file. requared all pages -->
	<script src="js/jquery-3.2.1.min.js"></script>

	<!-- Template global script file. requared all pages -->
	<script src="js/global.script.js"></script>
	<script>
		$("#submitBtn").click(function(){
			// #ajax 아이디 패스워드를 post 방식으로 '/reservation' 라우터에 데이터를 전송
			var Name = $("#Name").val();
			var Email = $("#Email").val();
			var Pet = $("#Pet").val();
			var Date = $("#Date").val();
			var Time = $("#Time").val();
			var Style = $("#Style").val();
			var Total = $("#Total").val();
			$('.modal_text').text("이름: " + Name+
			"이메일: "+Email+"반려견/묘 이름: " + Name+ "예약날짜:"+Date+"\n"+"예약시간"+Time+"\n"+"미용 종류"+Style+"가격: " + Total)
			$.ajax({
			url: "/reservation",
			type: "POST",
			data: {
				Name: Name,
				Email: Email,
				Pet : Pet,
				Date: Date,
				Time: Time,
				Style: Style,
				Total, Total
			},
			success: function (data) {
				
			},
        });
	})
	
		</script>
	</body>
</html>