.img_slide {
    max-width: 100%;
    width: auto !important;
    height: 350px !important;
  }

.img_swiper{
    position: relative;
    height: 350px;
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;    
    clear: both;
}

.swiper-container {
    width: 100%;
    height: 100%;

  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

/* swiper 버튼 색깔 수정해야됨 
.swiper-pagination-bullet {
  opacity: 1;
  border: white solid 1px;
  background-color: white;
}
.swiper-pagination-bullet .swiper-pagination-bullet-active {
  background-color: white;
}*/
